:javascript
  function initialize() {
          var myOptions = {
            center: new google.maps.LatLng(51.48, -0.12),
            zoom: 12,
            mapTypeId: google.maps.MapTypeId.ROADMAP
          };
          var map = new google.maps.Map(document.getElementById("map_canvas"),
              myOptions);
        }
        
%article.thirteen.columns.alpha
  %h1 London's Invisible Smog
  %section
    %p
      Unlike the famous smoggy pollution of old foggy London, today pollution is invisible but just as real. This website uses real time data from 
      %a(href="http://www.londonair.org.uk/LondonAir/Default.aspx") the London Air project
      and Google street view
      to help you see the pollution that is present but invisible.

    #map_canvas(style="width:700px; height:600px")

    %ul
      - sites.each do |s|
        %li
          %a{:href=>"/area?sitecode=#{s.attributes["sitecode"]}"}= s.attributes["sitename"]

%section.three.columns.omega
  %aside.stats
    %h3 Air pollution levels
    %table(style="border-collapse: collapse;")
      - aqlevels.each do |level, desc|
        %tr
          %td{:class => "legend#{level}", :style=>"padding-bottom: 10px"} &nbsp;
          %td(style="padding-left: 10px; ")
            = level + " - " + desc

