:javascript
  function initialize() {
          var myOptions = {
            center: new google.maps.LatLng(51.48, -0.12),
            zoom: 12,
            scrollwheel: false,
            mapTypeId: google.maps.MapTypeId.ROADMAP
          };
          var map = new google.maps.Map(document.getElementById("map_canvas"),
              myOptions);
          
          function attachUrl(marker, url) {
            google.maps.event.addListener(marker, 'click', function() {
              // console.log(url);
              window.location.href = url
            });
          }

          var sites = #{sites.to_json};
          for(var i =0; i < sites.length; i++)
          {
            var s = sites[i];

            var image = "/images/icons/number_" + s.aqindex + ".png";
            var marker = new google.maps.Marker({
              position: new google.maps.LatLng(s.latitude, s.longitude),
              map: map,
              url: "/area?sitecode=" + s.sitecode,
              title:s.sitename,
              icon: image 
            });
            attachUrl(marker, "/area?sitecode=" + s.sitecode)

          }
      }
        
%h1 London's Invisible Smog
%article.thirteen.columns.alpha
  %section
    %p
      Every year over 
      %a(href="http://www.parliament.uk/business/committees/committees-a-z/commons-select/environmental-audit-committee/news/air-quality-a-follow-up-report/") 4,000 people die prematurely in London 
      due to air pollution. Unlike the infamous smog of pre 1960s London - so bad that the word foggy became synonomous with London - today's pollution is invisible but just as real. This website uses real time data from 
      %a(href="http://www.londonair.org.uk/LondonAir/Default.aspx") the London Air project
      and Google street view
      to help you see the pollution that is present but invisible.
    
    %div(style="color: #bbea6e; font-size: 20pt; font-weight: bold; padding-bottom: 12px; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;") 
      Select a monitoring station to visualise the smog 
      %img(src="/images/down.png")
    #map_canvas(style="width:700px; height:600px; margin-bottom: 12px")
  %section
    %h2 List of monitoring stations
    %ul
      - sites.each do |s|
        %li
          %a{:href=>"/area?sitecode=#{s[:sitecode]}"}= s[:sitename]

%div.three.columns.omega
  %aside.stats
    %section
      %h3 Smog then
      %img(style="width: 120px; height: 120px" src="/images/1950s.png")
      %h3 Smog now
      %img(style="width: 120px; height: 120px" src="http://www.eastlondonadvertiser.co.uk/polopoly_fs/smog_over_london_1_873935!image/3188945018.jpg_gen/derivatives/landscape_490/3188945018.jpg")

  %aside.stats
    %section
      %h3 Air pollution levels
      %table(style="border-collapse: collapse;")
        - aqlevels.each do |level, desc|
          %tr
            %td{:class => "legend#{level}", :style=>"padding-bottom: 10px"} &nbsp;
            %td(style="padding-left: 10px; ")
              = level + " - " + desc

