:javascript
  function initialize() {
          var myOptions = {
            center: new google.maps.LatLng(51.48, -0.12),
            zoom: 12,
            mapTypeId: google.maps.MapTypeId.ROADMAP
          };
          var map = new google.maps.Map(document.getElementById("map_canvas"),
              myOptions);
          
          function attachUrl(marker, url) {
            google.maps.event.addListener(marker, 'click', function() {
              // console.log(url);
              window.location.href = url
            });
          }

          var sites = #{sites.to_json};
          for(var i =0; i < sites.length; i++)
          {
            var s = sites[i];

            var image = "/images/icons/number_" + s.aqindex + ".png";
            var marker = new google.maps.Marker({
              position: new google.maps.LatLng(s.latitude, s.longitude),
              map: map,
              url: "/area?sitecode=" + s.sitecode,
              title:s.sitename,
              icon: image 
            });
            attachUrl(marker, "/area?sitecode=" + s.sitecode)

          }
      }
        
%h1 London's Invisible Smog
%article.thirteen.columns.alpha
  %section
    %p
      Every year over 
      %a(href="http://www.parliament.uk/business/committees/committees-a-z/commons-select/environmental-audit-committee/news/air-quality-a-follow-up-report/") 4,000 people die prematurely in Lonon 
      due to air pollution. Unlike the infamous smog of pre 1960s London - so bad that the word foggy became synonomous with London - today's pollution is invisible but just as real. This website uses real time data from 
      %a(href="http://www.londonair.org.uk/LondonAir/Default.aspx") the London Air project
      and Google street view
      to help you see the pollution that is present but invisible.

    #map_canvas(style="width:700px; height:600px; margin-bottom: 12px")
  %section
    %h2 List of monitoring stations
    %ul
      - sites.each do |s|
        %li
          %a{:href=>"/area?sitecode=#{s[:sitecode]}"}= s[:sitename]

%aside.stats.three.columns.omega
  %section
    %h3 Air pollution levels
    %table(style="border-collapse: collapse;")
      - aqlevels.each do |level, desc|
        %tr
          %td{:class => "legend#{level}", :style=>"padding-bottom: 10px"} &nbsp;
          %td(style="padding-left: 10px; ")
            = level + " - " + desc

