@mixin gradiant($r, $g, $b) 
	background: #4C95AF
	background: -moz-linear-gradient(center bottom, rgba(76,149,175,0.1) 5%, rgba($r,$g,$b,0.9) 95%)
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0.05, rgba(76,149,175,0.1)), color-stop(0.95, rgba($r,$g,$b,0.9)))

.overlay1
	@include gradiant(165,206,136)
.overlay2
	@include gradiant(105,167,84)
.overlay3
	@include gradiant(45,136,41)
.overlay4
	@include gradiant(240,192,151)
.overlay5
	@include gradiant(255,154,93)
.overlay6
	@include gradiant(246,99,37)
.overlay7
	@include gradiant(221,0,21)
.overlay8
	@include gradiant(169,0,17)
.overlay9
	@include gradiant(124,0,4)
.overlay10
	@include gradiant(0,0,0)
